{% extends 'base.html' %}
{% load static %}

{% block content %}
<!-- ========================= SECTION CONTENT ========================= -->
<section class="section-conten padding-y bg">
    <div class="container">
        {% include "includes/alerts.html" %}
        <div class="row">
            <aside class="col-md-3">
                <!--   SIDEBAR   -->
                <ul class="list-group">
                    <a class="list-group-item active" href="#"> Lịch sử đặt hàng</a>
                    <a class="list-group-item" href="#"> Giao dịch</a>
                    <a class="list-group-item" href="#"> Trả tiền và hoàn tiền</a>
                    <a class="list-group-item" href="#">Cài đặt </a>
                    <a class="list-group-item" href="#"> Đã nhận đơn đặt hàng </a>
                </ul>
                <br>
                <a class="btn btn-light btn-block" href="{% url 'logout' %}"> <i class="fa fa-power-off"></i> <span class="text">Đăng xuất</span> </a>
                </article> <!-- order-group.// -->
            </main>
        </div> <!-- row.// -->
    </div>


</section>
<!-- ========================= SECTION CONTENT END// ========================= -->
{% endblock %}