{% load static %}

<!-- ========================= FOOTER ========================= -->
<footer class="section-footer border-top">
    <div class="container">
        <section class="footer-bottom border-top row">
            <div class="col-md-2">
                <p style="color: #1E90FF;">copyright@2025</p>  <!-- Màu xanh dương tươi -->
            </div>
            
            <div class="col-md-8 text-md-center">
                <span class="px-2">
                    <i class="fa fa-envelope" aria-hidden="true" style="color: #D44638;"></i> huukhoa29@gmail.com
                </span>
                
                <span class="px-2">
                    <i class="fa fa-phone-square" aria-hidden="true" style="color: #4CAF50;"></i> 0905920642
                </span>
                
                <span class="px-2">
                    <i class="fa fa-address-card-o" aria-hidden="true" style="color: #007BFF;"></i> Núi Thành, Hải Châu, Đà Nẵng
                </span>
                
            </div>
            <div class="col-md-2 text-md-right text-muted">
                <i class="fab fa-lg fa-cc-visa" style="color: #1A1F71;"></i>  <!-- Xanh đậm của Visa -->
                <i class="fab fa-lg fa-cc-paypal" style="color: #003087;"></i>  <!-- Xanh của PayPal -->
                <i class="fab fa-lg fa-cc-mastercard" style="color: #EB001B;"></i>  <!-- Đỏ của Mastercard -->
            </div>
            
        </section>
    </div><!-- //container -->
</footer>
<!-- ========================= FOOTER END // ========================= -->